<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>signup</key>
	<dict>
		<key>page</key>
		<dict>
			<key>color_ink</key>
			<string>022c0a</string>
			<key>color_back</key>
			<string>d0e6d6</string>
			<key>color_border</key>
			<string>21c64e</string>
			<key>color_shadow</key>
			<string>ffff00</string>
		</dict>
		<key>title</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>main_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>sub_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>seg_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>lcd</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>key_array</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
	</dict>
	<key>learnPage</key>
	<dict>
		<key>page</key>
		<dict>
			<key>color_ink</key>
			<string>022c0a</string>
			<key>color_back</key>
			<string>d0e6d6</string>
			<key>color_border</key>
			<string>21c64e</string>
			<key>color_shadow</key>
			<string>ffff00</string>
		</dict>
		<key>title</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>main_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>sub_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>seg_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>lcd</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>key_array</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
	</dict>
	<key>testPage</key>
	<dict>
		<key>page</key>
		<dict>
			<key>color_ink</key>
			<string>022c0a</string>
			<key>color_back</key>
			<string>d0e6d6</string>
			<key>color_border</key>
			<string>21c64e</string>
			<key>color_shadow</key>
			<string>ffff00</string>
		</dict>
		<key>title</key>
		<dict>
			<key>color_ink</key>
			<string>50004d</string>
			<key>color_back</key>
			<string>fffff0</string>
		</dict>
		<key>main_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
		</dict>
		<key>sub_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>seg_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>lcd</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>key_array</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
	</dict>
	<key>statisticsPage</key>
	<dict>
		<key>page</key>
		<dict>
			<key>color_ink</key>
			<string>022c0a</string>
			<key>color_back</key>
			<string>d0e6d6</string>
			<key>color_border</key>
			<string>21c64e</string>
			<key>color_shadow</key>
			<string>ffff00</string>
		</dict>
		<key>title</key>
		<dict>
			<key>color_ink</key>
			<string>50004d</string>
			<key>color_back</key>
			<string>fffff0</string>
		</dict>
		<key>main_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
		</dict>
		<key>sub_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>seg_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>lcd</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>key_array</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
	</dict>
	<key>aboutPage</key>
	<dict>
		<key>page</key>
		<dict>
			<key>color_ink</key>
			<string>022c0a</string>
			<key>color_back</key>
			<string>d0e6d6</string>
			<key>color_border</key>
			<string>21c64e</string>
			<key>color_shadow</key>
			<string>ffff00</string>
		</dict>
		<key>title</key>
		<dict>
			<key>color_ink</key>
			<string>50004d</string>
			<key>color_back</key>
			<string>fffff0</string>
		</dict>
		<key>main_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
		</dict>
		<key>sub_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>seg_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>lcd</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>key_array</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
	</dict>
	<key>settingsPage</key>
	<dict>
		<key>page</key>
		<dict>
			<key>color_ink</key>
			<string>022c0a</string>
			<key>color_back</key>
			<string>d0e6d6</string>
			<key>color_border</key>
			<string>21c64e</string>
			<key>color_shadow</key>
			<string>ffff00</string>
		</dict>
		<key>title</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>main_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>sub_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>seg_menu</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>lcd</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
		<key>key_array</key>
		<dict>
			<key>color_ink</key>
			<string>662e25</string>
			<key>color_back</key>
			<string>f2ddc3</string>
			<key>color_border</key>
			<string>662e25</string>
			<key>color_shadow</key>
			<string>000000</string>
		</dict>
	</dict>
</dict>
</plist>
