<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>signup</key>
	<dict>
		<key>page</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.075</string>
		</dict>
		<key>title</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>40</integer>
			<key>font_scale</key>
			<string>0.060</string>
		</dict>
		<key>main_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.075</string>
		</dict>
		<key>sub_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.075</string>
		</dict>
		<key>seg_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>body</string>
			<key>font_weight</key>
			<string>regular</string>
			<key>font_size</key>
			<integer>24</integer>
			<key>font_scale</key>
			<string>0.030</string>
		</dict>
		<key>lcd</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>title3</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>44</integer>
			<key>font_scale</key>
			<string>0.042</string>
		</dict>
		<key>key_array</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>title3</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.045</string>
		</dict>
	</dict>
	<key>learnPage</key>
	<dict>
		<key>page</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.075</string>
		</dict>
		<key>title</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>40</integer>
			<key>font_scale</key>
			<string>0.055</string>
		</dict>
		<key>main_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.075</string>
		</dict>
		<key>sub_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.075</string>
		</dict>
		<key>seg_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>body</string>
			<key>font_weight</key>
			<string>regular</string>
			<key>font_size</key>
			<integer>24</integer>
			<key>font_scale</key>
			<string>0.030</string>
		</dict>
		<key>lcd</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>title3</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>44</integer>
			<key>font_scale</key>
			<string>0.042</string>
		</dict>
		<key>key_array</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>title3</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.045</string>
		</dict>
	</dict>
	<key>testPage</key>
	<dict>
		<key>page</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.075</string>
		</dict>
		<key>title</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>40</integer>
			<key>font_scale</key>
			<string>0.045</string>
		</dict>
		<key>main_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.075</string>
		</dict>
		<key>sub_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.075</string>
		</dict>
		<key>seg_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>body</string>
			<key>font_weight</key>
			<string>regular</string>
			<key>font_size</key>
			<integer>24</integer>
			<key>font_scale</key>
			<string>0.030</string>
		</dict>
		<key>lcd</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>body</string>
			<key>font_weight</key>
			<string>regular</string>
			<key>font_size</key>
			<integer>24</integer>
			<key>font_scale</key>
			<string>0.015</string>
		</dict>
		<key>key_array</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>body</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.045</string>
		</dict>
	</dict>
	<key>statisticsPage</key>
	<dict>
		<key>page</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.075</string>
		</dict>
		<key>title</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>40</integer>
			<key>font_scale</key>
			<string>0.045</string>
		</dict>
		<key>main_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>LargTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>72</integer>
			<key>font_scale</key>
			<string>0.075</string>
		</dict>
		<key>sub_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.075</string>
		</dict>
		<key>seg_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>body</string>
			<key>font_weight</key>
			<string>regular</string>
			<key>font_size</key>
			<integer>24</integer>
			<key>font_scale</key>
			<string>0.030</string>
		</dict>
		<key>lcd</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.075</string>
		</dict>
		<key>key_array</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>title3</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.045</string>
		</dict>
	</dict>
	<key>aboutPage</key>
	<dict>
		<key>page</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.075</string>
		</dict>
		<key>title</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>40</integer>
			<key>font_scale</key>
			<string>0.045</string>
		</dict>
		<key>main_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>title1</string>
			<key>font_weight</key>
			<string>regular</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.035</string>
		</dict>
		<key>sub_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>title2</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.040</string>
		</dict>
		<key>seg_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.075</string>
		</dict>
		<key>lcd</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.075</string>
		</dict>
		<key>key_array</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>title3</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.045</string>
		</dict>
	</dict>
	<key>settingsPage</key>
	<dict>
		<key>page</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>title3</string>
			<key>font_weight</key>
			<string>regular</string>
			<key>font_size</key>
			<integer>26</integer>
			<key>font_scale</key>
			<string>0.040</string>
		</dict>
		<key>title</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>40</integer>
			<key>font_scale</key>
			<string>0.045</string>
		</dict>
		<key>main_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>title3</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>26</integer>
			<key>font_scale</key>
			<string>0.035</string>
		</dict>
		<key>sub_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>largeTitle</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.075</string>
		</dict>
		<key>seg_menu</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>body</string>
			<key>font_weight</key>
			<string>regular</string>
			<key>font_size</key>
			<integer>24</integer>
			<key>font_scale</key>
			<string>0.025</string>
		</dict>
		<key>lcd</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>title3</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.045</string>
		</dict>
		<key>key_array</key>
		<dict>
			<key>font_name</key>
			<string>Menlo-Italic</string>
			<key>font_style</key>
			<string>title3</string>
			<key>font_weight</key>
			<string>thin</string>
			<key>font_size</key>
			<integer>46</integer>
			<key>font_scale</key>
			<string>0.045</string>
		</dict>
	</dict>
</dict>
</plist>
